@using WebsiteBanBanPhim.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutPage/_HomeLayout.cshtml";
}

@{ 
    IEnumerable<SanPham> lstBanPhimGameThu = (IEnumerable<SanPham>)ViewBag.BanPhimGameThu;
    IEnumerable<SanPham> lstBanPhimLapTop = (IEnumerable<SanPham>)ViewBag.BanPhimLapTop;
    IEnumerable<SanPham> lstBanPhimMini = (IEnumerable<SanPham>)ViewBag.BanPhimMini;

}

<div class="container py-xl-4 py-lg-2">
    
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>O</span>ur
        <span>N</span>ew
        <span>P</span>roducts
    </h3>
    <div class="row">

        <div class="agileinfo-ads-display col-lg-12">
            <div class="wrapper">

                <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                    <h3 class="heading-tittle text-center font-italic">Bàn phím Game thủ</h3>
                    @Html.Partial("SanPhamPartial", lstBanPhimGameThu)
                </div>

                <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                    <h3 class="heading-tittle text-center font-italic">Bàn phím Laptop</h3>
                    @Html.Partial("SanPhamPartial", lstBanPhimLapTop)
                </div>

                <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                    <h3 class="heading-tittle text-center font-italic">Bàn phím Mini</h3>
                    @Html.Partial("SanPhamPartial", lstBanPhimMini)
                </div>
            </div>
        </div>

    </div>
</div>

